.cd-gallery ul{padding:0;}
.cd-filters{margin:0;}
.cd-main-content a{text-decoration:none;}
.cd-header{position:relative;height:150px;background-color:#331d35;}
.cd-header h1{color:#ffffff;line-height:150px;text-align:center;font-weight:300;}
@media only screen and (min-width:1170px){.cd-header{height:180px;}.cd-header h1{line-height:180px;}}
.cd-main-content{position:relative;min-height:100vh;margin-top:50px;}
.cd-main-content:after{content:"";display:table;clear:both;}
.cd-main-content.is-fixed .cd-tab-filter-wrapper{position:fixed;top:47px;left:0;width:100%;z-index:900;}
.cd-main-content.is-fixed .cd-gallery{padding-top:50px;}
.cd-main-content.is-fixed .cd-filter{position:fixed;height:100vh;overflow:hidden;top:47px;z-index:1000;}
.cd-main-content.is-fixed .cd-filter > div{height:100vh;overflow:auto;-webkit-overflow-scrolling:touch;}
.cd-main-content.is-fixed .cd-filter-trigger{position:fixed;top:47px;z-index:1000;}
.cd-main-content.is-fixed .cd-stats-trigger{position:fixed;top:47px;z-index:1000;}
@media only screen and (min-width:768px){.cd-main-content.is-fixed .cd-gallery{padding-top:50px;}}
@media only screen and (min-width:1170px){.cd-main-content.is-fixed .cd-gallery{padding-top:50px;}}
.cd-tab-filter-wrapper{background-color:#ffffff;box-shadow:0px 0px 10px 1px lightgrey;z-index:1;}
.cd-tab-filter-wrapper:after{content:"";display:table;clear:both;}
.cd-tab-filter{position:relative;height:50px;width:140px;margin:0 auto;z-index:1;}
.cd-tab-filter::after{content:'';position:absolute;right:14px;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);display:inline-block;width:16px;height:16px;background:url("../images/filter/cd-icon-arrow.svg") no-repeat center center;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;pointer-events:none;}
.cd-tab-filter ul{position:absolute;top:0;left:0;background-color:#ffffff;box-shadow:inset 0 -2px 0 #41307c;padding:0;}
.cd-tab-filter li{display:none;}
.cd-tab-filter li:first-child{display:block;}
.cd-tab-filter a{display:block;height:50px;width:140px;line-height:50px;padding-left:14px;}
.cd-tab-filter a.selected{background:#41307c;color:#ffffff;}
.cd-tab-filter.is-open::after{-webkit-transform:translateY(-50%) rotate(-180deg);-moz-transform:translateY(-50%) rotate(-180deg);-ms-transform:translateY(-50%) rotate(-180deg);-o-transform:translateY(-50%) rotate(-180deg);transform:translateY(-50%) rotate(-180deg);}
.cd-tab-filter.is-open ul{box-shadow:inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);}
.cd-tab-filter.is-open ul li{display:block;}
.cd-tab-filter.is-open .placeholder a{opacity:.4;}
@media only screen and (min-width:768px){.cd-tab-filter{width:auto;cursor:auto;}.cd-tab-filter::after{display:none;}.cd-tab-filter ul{background:transparent;position:static;box-shadow:none;text-align:center;}.cd-tab-filter li{display:inline-block;}.cd-tab-filter li.placeholder{display:none !important;}.cd-tab-filter a{display:inline-block;padding:0 1em;width:auto;color:#9a9a9a;text-transform:uppercase;font-weight:700;}.no-touch .cd-tab-filter a:hover{color:#41307c;}.cd-tab-filter a.selected{background:transparent;color:#41307c;box-shadow:inset 0 -2px 0 #41307c;}.cd-tab-filter.is-open ul li{display:inline-block;}}
@media only screen and (min-width:1170px){.cd-tab-filter{width:100%;float:right;margin:0;-webkit-transition:width 0.3s;-moz-transition:width 0.3s;transition:width 0.3s;}.cd-tab-filter.filter-is-visible{width:80%;}}
.licensed{position:absolute;display:inline-block;padding:2px 5px 2px 5px;margin:0;top:0;background:orange;float:right;right:-1px;}
.finish{position:absolute;display:inline-block;padding:2px 5px 2px 5px;margin:0;top:0;background:green;left:1px;}
.mix a > div:first-of-type{width:300px;height:150px;margin:0;display:inline-block;vertical-align:middle;position:relative;}
.mix a{color:inherit;height:150px;max-height:600px;display:block;}
@media screen and (max-width:1000px){.mix img,.finish,.mix a > div:first-of-type{display:none;}}
.mix a > div:last-of-type{display:inline-block;vertical-align:middle;width:600px;height:150px;font-size:80%;border:1px solid lightgrey;background-color:white;margin-top:2px;}
@media screen and (max-width:635px){.mix a > div{max-width:300px;width:300px;}}
.mix a > div > div{display: inline-block;width: 100%;padding:0 8px;box-sizing:border-box;}
.mix a > img{vertical-align:middle;text-align:center;line-height:150px;}
.mix .infos{width: auto;display: inline-block;}
.cd-gallery{padding:26px 0;width:100%;}
.cd-gallery li{height:150px;margin-bottom:1.6em;display:none;vertical-align:bottom;}
.cd-gallery ul{text-align:center;}
.cd-gallery ul:after{content:"";display:table;clear:both;}
.cd-gallery li{margin-bottom:2em;}
.cd-gallery li.gap{opacity:0;height:0;display:inline-block;}
.cd-gallery .cd-fail-message{display:none;text-align:center;}
.cd-gallery ul li{text-align:justify;margin:20px 40px 20px 40px;}
@media only screen and (max-width:700px){.cd-gallery ul li{margin:auto auto 40px auto;}}
@media only screen and (min-width:1170px){.cd-gallery{padding:50px 0;float:right;-webkit-transition:width 0.3s;-moz-transition:width 0.3s;transition:width 0.3s;}.cd-gallery.filter-is-visible{width:80%;}}
.cd-filter{position:absolute;top:-87px;left:0;width:280px;height:100%;background:#ffffff;box-shadow:4px 4px 20px transparent;z-index:2;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:-webkit-transform 0.3s, box-shadow 0.3s;-moz-transition:-moz-transform 0.3s, box-shadow 0.3s;transition:transform 0.3s, box-shadow 0.3s;}
.cd-filter::before{content:'';position:absolute;top:0;left:0;height:50px;width:100%;background-color:#41307c;z-index:2;}
.cd-filter > div{padding:70px 20px;}
.cd-filter .cd-close{position:absolute;top:0;right:0;height:50px;line-height:50px;width:60px;color:#ffffff;text-align:center;background:#37296a;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s;z-index:3;}
.no-touch .cd-filter .cd-close:hover{background:#32255f;}
.cd-filter.filter-is-visible{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);box-shadow:4px 4px 20px rgba(0, 0, 0, 0.2);top:-1px;}
.cd-filter.filter-is-visible .cd-close{opacity:1;}
@media only screen and (min-width:1170px){.cd-filter{width:20%;} .cd-filter > div{padding:70px 10%;}}
@media only screen and (max-width:1170px){.cd-stats-trigger span{display:none;}}
.cd-stats-trigger img{margin:0 0 0 10px;}
.cd-stats-trigger .nolink{text-decoration:none;}
.cd-stats-trigger{padding-right:20px;right:0;top:47px;height:50px;line-height:50px;overflow:hidden;white-space:nowrap;z-index:900;position:fixed;}
.cd-stats-trigger p{margin:0;}
.cd-stats-trigger ul{margin:0;padding:0 0 0 10px;list-style-type:none;}
.cd-stats-trigger span{text-align:right;color:#9a9a9a;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;transition:color 0.3s;text-transform:uppercase;font-weight:700;text-decoration:none;}
.cd-stats-trigger:hover span{color:#41307c;}
.cd-stats-trigger:not(:hover) div{display:none;}
.cd-stats-trigger div{position:fixed;right:0;background-color:white;padding:0 20px 0 20px;width:120px;z-index:1100;box-shadow:-3px 3px 10px -2px lightgrey;}
.cd-filter-trigger{position:absolute;top:0;left:0;height:50px;line-height:50px;width:60px;overflow:hidden;text-indent:100%;color:transparent;white-space:nowrap;background:transparent url("../images/filter/cd-icon-filter.svg") no-repeat center center;z-index:3;}
.cd-filter-trigger.filter-is-visible{pointer-events:none;}
@media only screen and (min-width:1170px){.cd-filter-trigger{width:auto;left:2%;text-indent:0;color:#9a9a9a;text-transform:uppercase;font-weight:700;padding-left:24px;background-position:left center;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;transition:color 0.3s;} .no-touch .cd-filter-trigger:hover{color:#41307c;} .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover{color:#ffffff;}}
.huge_list{max-height:400px;overflow:auto;}
.cd-filter-block{margin-bottom:1.6em;}
.cd-filter-block h4{position:relative;margin-bottom:.2em;padding:10px 0 10px 20px;color:#9a9a9a;text-transform:uppercase;font-weight:700;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;text-align: inherit;}
.no-touch .cd-filter-block h4:hover{color:#41307c;}
.cd-filter-block h4::before{content:'';position:absolute;left:0;top:50%;width:16px;height:16px;background:url("../images/filter/cd-icon-arrow.svg") no-repeat center center;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;transition:transform 0.3s;}
.cd-filter-block h4.closed::before{-webkit-transform:translateY(-50%) rotate(-90deg);-moz-transform:translateY(-50%) rotate(-90deg);-ms-transform:translateY(-50%) rotate(-90deg);-o-transform:translateY(-50%) rotate(-90deg);transform:translateY(-50%) rotate(-90deg);}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before{font-family:"Open Sans", sans-serif;border-radius:0;background-color:#ffffff;border:2px solid #e6e6e6;}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select{width:100%;padding:.8em;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;box-shadow:none;}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus{outline:none;background-color:#ffffff;border-color:#41307c;}
.cd-filter-block input[type='search']{border-color:transparent;background-color:#e6e6e6;}
.cd-filter-block input[type='search']::-webkit-search-cancel-button{display:none;}
.cd-filter-block .cd-select{position:relative;}
.cd-filter-block .cd-select::after{content:'';position:absolute;z-index:1;right:14px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);display:block;width:16px;height:16px;background:url("../images/filter/cd-icon-arrow.svg") no-repeat center center;pointer-events:none;}
.cd-filter-block select{cursor:pointer;}
.cd-filter-block select::-ms-expand{display:none;}
.cd-filter-block .list li{position:relative;margin-bottom:.8em;list-style:none;}
.cd-filter-block .list li:last-of-type{margin-bottom:0;}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox]{position:absolute;left:0;top:0;margin:0;padding:0;opacity:0;z-index:2;}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label{padding-left:24px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after{content:'';display:block;position:absolute;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before{width:16px;height:16px;left:0;}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after{display:none;left:2px;}
.cd-filter-block .checkbox-label::after{width:16px;height:16px;background:url("../images/filter/cd-icon-check.svg") no-repeat center center;}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after{border-radius:50%;}
.cd-filter-block .radio-label::after{width:6px;height:6px;background-color:#ffffff;left:7px;}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before{border-color:#41307c;background-color:#41307c;}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after{display:block;}
@-moz-document url-prefix(){.cd-filter-block .cd-select::after{display:none;}}
.small{margin-bottom: 0.5em;padding:0;}