@font-face{
    font-family:'si';
    src:url('../social_site/img/socicon.eot');
    src:url('../social_site/img/socicon.eot?#iefix') format('embedded-opentype'),
        url('../social_site/img/socicon.ttf') format('truetype'),
        url('../social_site/img/socicon.svg#icomoonregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: si;
        src: url('../social_site/img/socicon.svg') format('svg');
    }
}

@media screen and (max-width: 900px) {
    .soc {
        display: none;
    }
}

.soc {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    position: fixed;
    z-index: 1000;
    top: 160px;
}

.soc li {
    display: inline;
    zoom: 1;
}

.soc li a {
    font-family: si, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 0;
    color: #ffffff;
}

.soc-icon-last {
    margin: 0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}

.soc-twitter:before {
    content: 'T';
}

.soc-facebook {
    background-color: #3e5b98;
}

.soc-facebook:before {
    content: 'F';
}

.soc-google {
    background-color: #d93e2d;
}

.soc-google:before {
    content: 'G';
}

.soc-twitter:hover {
    background-color: #61bbf2;
}

.soc-facebook:hover {
    background-color: #526fac;
}

.soc-google:hover {
    background-color: #ed5241;
}