{# app/Resources/views/layout.html.twig #}

{#
Recommencer le projet
Penser à modifier catalogue episodes stockés dans la session ajouter un ID sinon si multiples fenetres ouvertes pour enregister -> bug
Image crop : https://github.com/comur/ComurImageBundle
SASS/SCSS : http://css2sass.herokuapp.com/
cd C:\Users\guillaume\Dropbox\Guillaume\www\Dejavu_Symfony
cd C:\Users\guill\Dropbox\Guillaume\www\Dejavu_Symfony
php bin/console doctrine:generate:entities DejaVuBundle
php bin/console doctrine:schema:update --dump-sql
php bin/console doctrine:schema:update --force
Ca bug ? Esssaie :
    - php bin/console assetic:dump
    - php bin/console cache:clear

 #}

<!DOCTYPE html>
<html>
<head itemscope="" itemtype="http://schema.org/WebSite">
    <title>{{ block('title') }}</title>
    {% block meta %}{% endblock %}
    <meta charset="utf-8">
    <meta property="og:title" content="{{ block('title') }}"/>
    <meta property="og:type" content="{{ site_type }}">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:description" content="{{ block('description') }}">
    <meta property="og:image" content="{{ asset('icone/favicon.png') }}">
    <meta name="title" itemprop="name" content="{{ site_name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1">
    <meta name="description" content="{{ block('description') }}" lang="fr">
    <link rel="canonical" href="" itemprop="url">
    <link rel="shortcut icon" href="{{ asset('icone/favicon.png') }}" type="image/x-icon">
    {% block stylesheets %}{% endblock %}
    {% stylesheets filter="scssphp" output="css/app.css"
    "ui/menu/style.css"
    "ui/social/style.css"
    "ui/style.css"
    %}{% endstylesheets %}
    <link rel="stylesheet" href="{{ asset("css/app.css") }}" />
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="{{ asset('js/js.js') }}"></script>
    <script src="{{ asset('js/menu/menu.js') }}"></script>
    {% block javascripts %}{% endblock %}
</head>

<body>
    {{ render(controller('DejaVuBundle:Default:menu')) }}
    {{ include("DejaVuBundle:Default:social.html.twig") }}

    <div class="flash-notice">
    {% for flash_message in app.session.flashbag.get('alert') %}
        {{ flash_message | rawdescr }}
    {% endfor %}
    </div>

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}
</body>
</html>
