<div id="{{ com.comment_id }}" class="commentary">
    {% if app.session.get('user')['id'] is defined and app.session.get('user')['title_id'] < 3 and com.deleted == 0 %}
    <a class="delete_comment">{{ 'label.delete'|trans }}</a>
    <a class="update_comment">{{ 'label.modify'|trans }}</a>
    {% endif %}
    <div class="commentary_head">
        <div class="user_info">{{ 'label.by'|trans }} <a class="user_name" href="{{ path('deja_vu_user', {'name':com.pseudo_creator}) }}">
                <strong>{{ com.pseudo_creator }}</strong>
                <div class="popup_user">
                    <img class="user_avatar" src ="{{ asset('images/default_avatar.png') }}" alt="No avatar"/>
                    <div>{{ 'label.title'|trans }} : {{ com.title_name }}</div>
                    <div>{{ 'label.register'|trans }} :{{ com.registration_date | date('l j F Y') }} {{ 'label.at'|trans }} {{ com.registration_date | date('h:i') }}</div>
                    <div>{{ 'label.email'|trans }} : {{ com.email }}</div>
                </div>
            </a>{{ 'label.the'|trans }} <div class="commentary_date">{{ com.post_date | date('l j F Y') }} {{ 'label.at'|trans }} {{ com.post_date | date('h:i') }}</div>
        </div>
    </div>
    <div class="commentary_body">
        <div>
            {% if com.deleted %}
                {{ 'label.comment_deleted'|trans }}
            {% else %}
                {{ com.message }}
            {% endif %}
        </div>
    </div>
    {% if (com.editer_date) %}
        <div class="last_modification">
            <div class="user_info">{{ 'label.last_modification'|trans }}
                <a itemprop="author" itemscope="" itemtype="https://schema.org/Person" class="user_name" href="{{ path('deja_vu_user', {'name':com.pseudo_editor}) }}">
                    <strong itemprop="name">{{ com.pseudo_editor }}</strong>
                    <div class="popup_user">
                        <img class="user_avatar" src="{{ asset('images/default_avatar.png') }}" alt="No avatar">
                        <div>{{ 'label.title'|trans }} : {{ com.title_name_editor }}</div>
                        <div>{{ 'label.register'|trans }} :{{ com.registration_date_editor | date('l j F Y') }} {{ 'label.at'|trans }} {{ com.registration_date_editor | date('h:i') }}</div>
                        <div>{{ 'label.email'|trans }} : {{ com.email_editor }}</div>
                    </div>
                </a>{{ 'label.the'|trans }} {{ com.editer_date | date('l j F Y') }} {{ 'label.at'|trans }} {{ com.editer_date | date('h:i') }}.
            </div>
        </div>
        <meta itemprop="dateModified" content="{{ com.editer_date |date('y-m-d h:i:s') }}">
    {% endif %}
</div>
