<div itemscope itemtype="http://schema.org/Article" class="news">
    <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="news/{{ news.id}}">
    <div itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="https://127.0.0.1/includes/icone/favicon.png">
            <meta itemprop="width" content="64">
            <meta itemprop="height" content="64">
        </div>
        <meta itemprop="name" content="{{ site_name }}">
    </div>
    <div class="news_body">
        <h2 itemprop="headline">{{ news.title }}</h2>
        <div itemprop="articleBody" class="news_text">
            {{ news.message | rawdescr }}
        </div>
        <div class="user_info">{{ 'label.by'|trans }}
            <a itemprop="author" itemscope="" itemtype="https://schema.org/Person" class="user_name" href="{{ path('deja_vu_user', {'name':news.pseudo_creator}) }}">
                <strong itemprop="name">{{ news.pseudo_creator }}</strong>
                <div class="popup_user">
                    <img class="user_avatar" src="{{ asset('images/default_avatar.png') }}" alt="No avatar">
                    <div>{{ 'label.title'|trans }} : {{ news.title_name }}</div>
                    <div>{{ 'label.register'|trans }} : {{ news.registration_date | date('l j F Y') }} {{ 'label.at'|trans }} {{ news.registration_date | date('h:i') }}</div>
                    <div>{{ 'label.email'|trans }} : {{ news.email }}</div>
                </div>
            </a>{{ 'label.the'|trans }} <div class="news_date">{{ news.post_date | date('l j F Y') }} {{ 'label.at'|trans }} {{ news.post_date | date('h:i') }}</div>
        </div>
        <meta itemprop="datePublished" content="{{ news.post_date |date('y-m-d h:i:s') }}">
        <div itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="https://127.0.0.1/includes/icone/favicon.png">
            <meta itemprop="width" content="64">
            <meta itemprop="height" content="64">
        </div>
        {% if id is not defined %}
            <a class="news_commentary" href="{{ path('deja_vu_viewnews', {'id':news.id, 'name':news.title|convertUrl}) }}">{{ 'label.show_commentaries'|trans }} ({{ news.nb_coms }})</a>
        {% endif %}
    </div>
    {% if (news.editer_date) %}
        <div class="last_modification">
            <div class="user_info">{{ 'label.last_modification'|trans }}
                <a itemprop="author" itemscope="" itemtype="https://schema.org/Person" class="user_name" href="{{ path('deja_vu_user', {'name':news.pseudo_editor}) }}">
                    <strong itemprop="name">{{ news.pseudo_editor }}</strong>
                    <div class="popup_user">
                        <img class="user_avatar" src="{{ asset('images/default_avatar.png') }}" alt="No avatar">
                        <div>{{ 'label.title'|trans }} : {{ news.title_name_editor }}</div>
                        <div>{{ 'label.register'|trans }} : {{ news.registration_date_editor | date('l j F Y') }} {{ 'label.at'|trans }} {{ news.registration_date_editor | date('h:i') }}</div>
                        <div>{{ 'label.email'|trans }} : {{ news.email_editor }}</div>
                    </div>
                </a>{{ 'label.the'|trans }} {{ news.editer_date | date('l j F Y') }} {{ 'label.at'|trans }} {{ news.editer_date | date('h:i') }}.
            </div>
        </div>
        <meta itemprop="dateModified" content="{{ news.editer_date |date('y-m-d h:i:s') }}">
    {% endif %}
</div>
