<h3>{{ 'label.informations'|trans }}</h3>
<table class="account">
    <tr>
        <td>{{ 'label.pseudo'|trans }}</td>
        <td>{{ user.pseudo }}</td>
    </tr>
    <tr>
        <td>{{ 'label.register'|trans }}</td>
        <td>{{  user.registrationDate | date('l j F Y') }} {{ 'label.at'|trans }} {{ user.registrationDate | date('h:i') }}</td>
    </tr>
    <tr>
        <td>{{ 'label.email'|trans }}</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>{{ 'label.title'|trans }}</td>
        <td>{{ user.title.name }}</td>
    </tr>
</table>
{% if user.id == app.session.get('user').id %}
<form id="form_edit_pwd" class="form form_fix" method="post">
    <fieldset>
        <input type="submit" value="Modifier mot de passe"/>
    </fieldset>
</form>
<div class="spinner load_form_edit_password">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
{% endif %}
<h3>{{ 'label.stats'|trans }}</h3>
<table id="account_stats" class="account">
    <tr>
        <td>{{ 'label.category'|trans }}</td>
        <td>{{ 'label.episodes'|trans }}</td>
    </tr>
    {% for stat in stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>{{ stat.total }}</td>
    </tr>
    {% endfor %}
</table>
