{# src/DejaVuBundle/Resources/views/Advert/news.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ 'label.account'|trans }}{% endblock %}

{% block description %}{{ 'label.account_description'|trans }}{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
<section>
    <h1>{{ 'label.account'|trans }}</h1>
    {{ include("DejaVuBundle:Default:_user.html.twig") }}
</section>
{% endblock %}
