{# src/DejaVuBundle/Resources/views/Advert/catalog.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ 'label.catalog'|trans }}{% endblock %}

{% block description %}{{ 'label.catalog_description'|trans }}{% endblock %}

{% block javascripts %}
    {% javascripts filter="jsqueeze" output="js/filter/app.js"
    "js/filter/modernizr.js"
    "js/filter/jquery.mixitup.min.js"
    "js/filter/main.js"
    %}{% endjavascripts %}
    <script src="{{ asset("js/filter/app.js") }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        function size(){
            if($(window).width() > 1000) {
                $(function() {
                    $("img.lazy").show();
                    $("img.lazy").lazyload({
                        effect : "fadeIn"
                    });
                });
            } else {
                $("img.lazy").hide();
            }
        }
        size();
        $( window ).resize(function() {
            size();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/list.css") }}" />
    {% stylesheets filter="scssphp" output="css/list.css"
    "ui/filter/style.css"
    "ui/circle-progressbar/circle.css"
    %}{% endstylesheets %}
{% endblock %}

{% block body %}
    <main class="cd-main-content is-fixed">
        <div class="cd-tab-filter-wrapper">
            <div class="cd-tab-filter">
                <ul class="cd-filters">
                    <li class="placeholder">
                        <a data-type="all" href="{{ path('deja_vu_catalog') }}#0">{{ 'label.all'|trans }}</a>
                    </li>
                    <li class="filter"><a class="selected" href="{{ path('deja_vu_catalog') }}#0" data-type="all">{{ 'label.all'|trans }}</a></li>
                    {% for type in type_media %}
                    <li class="filter" data-filter=".{{ type.name | convertUrl }}"><a href="{{ path('deja_vu_catalog') }}#0" data-type="{{ type.name | convertUrl }}">{{ type.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {#{{ dump(series) }}#}
        <section class="cd-gallery ">
            <ul>
                {% for serie in series %}
                    {% set kinds = serie.kind | split(',') %}
                    {% set filters = serie.name | convertUrl %}
                    {% for kind in kinds %}
                        {% set filters = filters ~ " " ~ (kind | convertUrl) %}
                    {% endfor %}

                    {% if app.session.get('user')['title_id'] is defined %}
                        {% set percent = (serie.nb_episodes == 0 and serie.nb_seen == 0?100:((serie.nb_seen/serie.nb_episodes)*100)) %}
                    {% else %}
                        {% set percent = 0 %}
                    {% endif %}

                    <li class="mix {{ filters ~ (serie.is_finish?' data_finish':'') ~ (serie.is_licensed?'':' data_unlicensed') ~ (percent == 100?'':' data_seen') }}">
                        <a href="{{ path('deja_vu_viewcatalog', {'id':serie.series_id, 'name':serie.title|convertUrl}) }}">
                            <div>
                                <img alt="{{ serie.title }}" class="lazy vignette" data-original="{{ asset(serie.url_img) }}">
                                {% if serie.is_finish %}
                                <p class="finish">{{ 'label.finish'|trans }}</p>
                                {% endif %}
                                {% if serie.is_licensed %}
                                <p class="licensed">{{ serie.is_licensed }}</p>
                                {% endif %}
                            </div>
                            <div>
                                <p class="title">{{ serie.title }}{% if serie.alternativ_title %} - {{ serie.alternativ_title }} {% endif %}</p>
                                <div class="test">
                                    <div class="infos">
                                        <div class="authors_list"><div>{{ 'label.authors'|trans }} : </div>
                                            {% set authors = serie.authors|split(',') %}
                                            {% for author in authors %}
                                            <div class='authors'>{{ author }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="king_list">
                                            <div>{{ 'label.kind'|trans }} : </div>
                                            {% for kind in kinds %}
                                                <div class='king'>{{ kind }}</div>
                                            {% endfor %}
                                        {% if serie.nb_saisons != serie.nb_episodes %}
                                        <div>{{ 'label.seasons'|trans }} : {{ serie.nb_saisons }}</div>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="c100 p{{ percent|round }}">
                                        <span>{% if serie.nb_seen is defined %}{{ serie.nb_seen }}/{% endif %}{{ serie.nb_episodes }}</span>
                                        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="cd-fail-message">{{ 'label.no_result'|trans }}</div>
        </section>

        <div class="cd-filter">
            <div>
                <div class="cd-filter-block">
                    <div class="cd-filter-content cd-filters">
                        <input class="filter" type="search" placeholder="{{ 'label.search_sample'|trans }}">
                    </div>
                </div>
                <div class="cd-filter-block small">
                    <ul class="cd-filter-content cd-filters list">
                        <li>
                            <input class="filter" data-filter=".data_finish" type="checkbox" id="finish">
                            <label class="checkbox-label" for="finish">{{ 'label.finish'|trans }}</label>
                        </li>
                    </ul>
                </div>
                <div class="cd-filter-block small">
                    <ul class="cd-filter-content cd-filters list">
                        <li>
                            <input class="filter" data-filter=".data_unlicensed" type="checkbox" id="licenced">
                            <label class="checkbox-label" for="licenced">{{ 'label.unlicensed'|trans }}</label>
                        </li>
                    </ul>
                </div>
                {% if app.session.get('user').id is defined %}
                <div class="cd-filter-block small">
                    <ul class="cd-filter-content cd-filters list">
                        <li>
                            <input class="filter" data-filter=".data_seen" type="checkbox" id="seen">
                            <label class="checkbox-label" for="seen">{{ 'label.hide_seen'|trans }}</label>
                        </li>
                    </ul>
                </div>
                {% endif %}

                <div class="cd-filter-block huge_list">
                    <h4>{{ 'label.kind'|trans }}</h4>
                    {% for kind in kind %}
                    <ul class="cd-filter-content cd-filters list small">
                        <li>
                            <input class="filter" data-filter=".{{ kind.name | convertUrl}}" type="checkbox" id="checkbox{{ loop.index0 }}">
                            <label class="checkbox-label" for="checkbox{{ loop.index0 }}">{{ kind.name }}</label>
                        </li>
                    </ul>
                    {% endfor %}

                </div>
            </div>

            <a href="{{ path('deja_vu_catalog') }}#0" class="cd-close">{{ 'label.hide'|trans }}</a>
        </div>
        <a href="{{ path('deja_vu_catalog') }}#0" class="cd-filter-trigger ">{{ 'label.filters'|trans }}</a>
    </main>
    <div class="cd-stats-trigger"><a class="nolink">
        <span>{{ 'label.stats'|trans }}</span><img alt="" src="{{ asset('images/filter/stats_logo.png') }}" ></a>
        <div>
            {% for stat in stats %}
                {% if stat.total != stat.total_ep and stat.total != stat.total_se and stat.total_se != stat.total_ep %}
                    <p>{{ stat.name }} : {{ stat.total }}</p>
                    <ul>
                        <li>{{ 'label.seasons'|trans }} : {{ stat.total_se }}</li>
                        <li>{{ 'label.episodes'|trans }} : {{ stat.total_ep }}</li>
                    </ul>
                {% else %}
                    <p>{{ stat.name }} : {{ stat.total }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <a id="navtop" href="#top"></a>
{% endblock %}
