{% extends "::layout.html.twig" %}

{% block title %}{{ 'label.login'|trans }}{% endblock %}

{% block body %}
    <section>
        <h1>{{ 'label.login'|trans }}</h1>
        {{ form_start(form, { 'attr': {'class': 'form'} }) }}
        {{ form_errors(form._token) }}
        <fieldset>
            <legend>{{ form_label(form.pseudo, 'label.pseudo'|trans) }}</legend>
            {{ form_widget(form.pseudo) }}
            {{ form_errors(form.pseudo) }}
        </fieldset>
        <fieldset>
            <legend>{{ form_label(form.password, 'label.password'|trans) }}</legend>
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.save,{'label': 'label.login'|trans}) }}
        </fieldset>
        <fieldset>
            <a href="{{ path('deja_vu_register') }}">{{ 'label.register'|trans }}</a>
            <a href="{{ path('deja_vu_password_lost') }}">{{ 'label.lost_password'|trans }}</a>
        </fieldset>
        {{ form_end(form) }}
    </section>

{% endblock %}
