{# src/DejaVuBundle/Resources/views/Advert/menu.html.twig #}
{# dump(session) #}
<nav id="cssmenu">
    <ul>
        <li>
            <a href="{{ path('deja_vu_news') }}">
                <span>{{ 'label.news'|trans }}</span>
            </a>
        </li>
        {% if app.session.get('user').id is defined %}
            <li>
                <a href="{{ path('deja_vu_account') }}">
                    <span>{{ 'label.account'|trans }}</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('deja_vu_register') }}">
                    <span>{{ 'label.register'|trans }}</span>
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('deja_vu_catalog') }}">
                <span>{{ 'label.catalog'|trans }}</span>
            </a>
        </li>
        {% if app.session.get('user').title is defined and ( app.session.get('user').title.id == 1 or app.session.get('user').title.id == 2 ) %}
        <li class='active'>
            <a>{{ 'label.admin'|trans }}</a>
            <ul>
                <li><a>{{ 'label.news'|trans }}</a>
                    <ul>
                        <li><a href='{{ path('deja_vu_admin_news') }}'>{{ 'label.list'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_news_add') }}'>{{ 'label.add'|trans }}</a></li>
                    </ul>
                </li>
                <li><a>{{ 'label.members'|trans }}</a>
                    <ul>
                        <li><a href='{{ path('deja_vu_admin_management_members') }}'>{{ 'label.list'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_management_ip') }}'>{{ 'label.ip'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_management_bann_ip') }}'>{{ 'label.bann_ip'|trans }}</a></li>
                    </ul>
                </li>
                <li><a>Catalogue</a>
                    <ul>
                        <li><a href='{{ path('deja_vu_admin_content') }}'>{{ 'label.management'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_content_add') }}'>{{ 'label.content_add'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_category') }}'>{{ 'label.category'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_category_add') }}'>{{ 'label.category_add'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_kind') }}'>{{ 'label.kind'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_kind_add') }}'>{{ 'label.kind_add'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_licensee') }}'>{{ 'label.licensee'|trans }}</a></li>
                        <li><a href='{{ path('deja_vu_admin_licensee_add') }}'>{{ 'label.licensee_add'|trans }}</a></li>
                    </ul>
                </li>
                {% if app.session.get('user').title is defined and app.session.get('user').title.id == 1 %}
                <li><a href="{{ path('deja_vu_admin_logs') }}">{{ 'label.logs'|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if app.session.get('user').id is defined %}
            <li class="align-right">
                <a href="{{ path('deja_vu_logout') }}">
                    <span>{{ 'label.logout'|trans }}</span>
                </a>
            </li>
        {% else %}
            <li class="align-right">
                <a href="{{ path('deja_vu_login') }}">
                    <span>{{ 'label.login'|trans }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
