{# src/DejaVuBundle/Resources/views/Advert/news.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{% if id is defined and id < 0 %}{{ news_list[0].title | default('label.news'|trans) }}{% else %}{{ 'label.news'|trans }}{% endif %}{% endblock %}

{% block description %}{% if id is defined and id < 0 %}{{ news_list[0].message | striptags }}{% else %}{{ 'label.description_news'|trans }}{% endif %}{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
<section>
    <h1>{{ 'label.news'|trans }}</h1>
{#
    {{ dump(news_list) }}
    {{ dump(news) }}#}

    <ul class="breadcrumb hidden">
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ path('deja_vu_news') }}" itemprop="url">
                <span itemprop="title">{{ 'label.news'|trans }}</span>
            </a>
        </li>
        {% if news_list | length > 0 %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ path('deja_vu_viewnews', {'id':news_list[0].id, 'name':news_list[0].title|convertUrl}) }}" itemprop="url">
                <span itemprop="title">{{ news_list[0].title | default('label.news'|trans)}}</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <div class="liste_news">
    {% if news_list | length > 0 %}
        {% for news in news_list %}
            {{ include("DejaVuBundle:Default:_news.html.twig") }}
        {% endfor %}
    {% else %}
        <div class="information">{{ 'label.no_news'|trans }}</div>
    {% endif %}
    </div>
    {% if id is defined %}
        <form class="post_comment" method="post">
            <fieldset>
                <label>
                    <textarea name="message2" rows="8" maxlength="1024"></textarea>
                </label>
            </fieldset>
            <fieldset class="form_button">
                <input type="submit" value="{{ 'label.post'|trans }}">
            </fieldset>
            <div>{{ 'label.post_comment'|trans }}</div>
        </form>
        {#{{ dump(com_list) }}#}
        <div class="commentaries_list">
            {% for com in com_list %}
                {{ include("DejaVuBundle:Default:_comment.html.twig") }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="spinner loadmore_coms loadmore_news">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</section>
{% endblock %}

{% block footer %}
<a id="navtop" href="#top"></a>
{% endblock %}
