{% extends "::layout.html.twig" %}

{% block title %}{{ 'label.register'|trans }}{% endblock %}

{% block body %}
    <section>
        <h1>{{ 'label.register'|trans }}</h1>

        {{ form_start(form, { 'attr': {'class': 'form'} }) }}
        {{ form_errors(form._token) }}
        <fieldset>
            <legend>{{ form_label(form.pseudo, 'label.pseudo'|trans) }}</legend>
            {{ form_widget(form.pseudo) }}
            {{ form_errors(form.pseudo) }}
        </fieldset>
        <fieldset>
            <legend>{{ form_label(form.password.first, 'label.password'|trans) }}</legend>
            {{ form_widget(form.password.first) }}
            {{ form_errors(form.password.first) }}
        </fieldset>
        <fieldset>
            <legend>{{ form_label(form.password.second, 'label.repeat_password'|trans) }}</legend>
            {{ form_widget(form.password.second) }}
            {{ form_errors(form.password.second) }}
        </fieldset>
        <fieldset>
            <legend>{{ form_label(form.email, 'label.email'|trans) }}</legend>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.recaptcha) }}
            {{ form_errors(form.recaptcha) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.save,{'label': 'label.to_register'|trans}) }}
        </fieldset>
        {{ form_end(form) }}
    </section>
{% endblock %}
