{# src/DejaVuBundle/Resources/views/Advert/user.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ 'label.user'|trans }}{% endblock %}

{% block description %}{{ 'label.account_description'|trans }}{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <section>
        <h1>{{ 'label.user'|trans }}</h1>
        {{ include("DejaVuBundle:Default:_user.html.twig") }}
    </section>
{% endblock %}
