{# src/DejaVuBundle/Resources/views/Advert/viewcatalog.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ series.title }}{% endblock %}

{% block description %}{{ series.description }}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        function size(){
            if($(window).width() > 1000) {
                $(function() {
                    $("img.lazy").show();
                    $("img.lazy").lazyload({
                        effect : "fadeIn"
                    });
                });
            } else {
                $("img.lazy").hide();
            }
        }
        size();
        $( window ).resize(function() {
            size();
        });
    </script>
{% endblock %}

{% block body %}
<section itemscope itemtype="http://schema.org/Movie">
    {#
    {{ dump(series) }}
    {{ dump(seasons) }}
    {{ dump(episodes) }}
    {{ dump(user_episodes) }}
    {{ dump(result) }}
    #}
    <h1 itemprop='name' class='small'>{{ series.title }}</h1>
    <article>
        {% if series.alternativTitle is defined %}
        <h3>{{ series.alternativTitle }}</h3>
        {% endif %}
        {% if app.session.get('user')['id'] is defined %}
        <form name="validate_data_form" class="special_form" action="list" method="post">
            <a class="navleft"></a>
            {% set class = (series.nb_episodes==series.nb_seen?'color:green;':'color:red;') %}
            <div>{{ 'label.nb_episodes'|trans }} : <span style="{{ class }}">{{ series.nb_seen~'/'~series.nb_episodes }}</span></div>
            <div class="ep_list">
            {% for season in seasons %}
                {% set allchecked = (season.nb_episode == season.nb_seen?'checked':'') %}
                {% set class = (season.nb_episode == season.nb_seen?'color:green;':'color:red;') %}
                <div class="sub_list">
                    <div>
                        <input type="checkbox" id="choix{{ loop.index }}" name="choix{{ loop.index }}" class="checkbox" {{ allchecked }} />
                        {% set class = (season.is_finish == 1?class:'color:orange;') %}
                        {% set total = (season.is_finish == 1?season.nb_episode:'?') %}
                        <div class="navigation">Saison {{ loop.index }} ({{ season.year }}) - <span style="{{ class }}">{{ season.nb_seen ~'/'~ total }}</span></div>
                    </div>
                    <ul class="subMenu">
                        {% for ep in result %}
                        {% if ep.season-1 == season.season %}
                        <li>
                            <input type="checkbox" class="choix" value="{{ ep.id }}" id="choix{{ ep.season }}" name="choix{{ ep.season }}[]" {{ ep.checked }}/>
                            <label>Episode {{ ep.id }}</label>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
            <div class="sublist"><input type="submit" value="Valider"/></div>
        </form>
        {% endif %}
        <div class='remind_data'>
        {% if series.urlImg is defined %}
        <img itemprop='image' alt="{{ series.title }}" class='lazy vignette' data-original="{{ series.urlImg }}" src="">
        {% endif %}
        <p>{{ series.description }}</p>
        <div class="authors_list"><div>{{ 'label.authors'|trans }} : </div>
        {% set authors = series.authors|split(',') %}
        {% for author in authors %}
            <div class='authors'>{{ author }}</div>
        {% endfor %}
        </div>
        <p>{{ 'label.category'|trans }}</p><div class='category'>{{ series.name }}</div>
        </div>
    </article>
</section>
{% endblock %}

{% block footer %}
    <a id="navtop" href="#top"></a>
{% endblock %}
