@media screen and (max-width: 768px) {
    body > section, body {
        margin: 0;
    }

    .dataTables_wrapper, .remind_data {
        margin: 0 5px 0 5px;
    }

    .last_edit_pc, .date_heure_news, .user_info, .delete_saison, .auteur, .text_more_data {
        display: none;
    }

    .news_body {
        border-left: 0;
    }

    .posted_by_user {
        display: inline;
    }

    .more_data {
        position: fixed;
        display: block;
        bottom: 1rem;
        right: 1rem;
        z-index: 1;
        height: 2.5rem;
        width: 2.5rem;
        background-color: transparent;
        padding: 0;
        outline: 0;
        border: 1px solid #000;
        border-radius: 50%;
    }

    .more_data:before {
        content: "";
        position: absolute;
        top: 40%;
        right: 15%;
        bottom: 40%;
        left: 15%;
        background-color: #000;
        border-radius: 10px
    }

    .more_data:after {
        content: "";
        position: absolute;
        top: 15%;
        right: 40%;
        bottom: 15%;
        left: 40%;
        background-color: #000;
        border-radius: 10px
    }

    .remove_season {
        position: fixed;
        display: block;
        bottom: 1rem;
        left: 1rem;
        z-index: 1;
        height: 2.5rem;
        width: 2.5rem;
        background-color: transparent;
        padding: 0;
        outline: 0;
        border: 1px solid #000;
        border-radius: 50%;
    }

    .remove_season:before {
        content: "";
        position: absolute;
        top: 40%;
        right: 15%;
        bottom: 40%;
        left: 15%;
        background-color: #000;
        border-radius: 10px
    }

    .paginate_enabled_previous {
        position: fixed;
        display: block;
        bottom: 1rem;
        left: 1rem;
        z-index: 1;
        height: 2.5rem;
        width: 2.5rem;
        background-color: transparent;
        padding: 0;
        outline: 0;
        border: 1px solid #FFF;
        border-radius: 50%;
        color: transparent;
    }

    .paginate_enabled_previous:before {
        content: "";
        position: absolute;
        top: 40%;
        right: 15%;
        bottom: 40%;
        left: 15%;
        background-color: #FFF;
        border-radius: 10px
    }

    .paginate_enabled_next {
        position: fixed;
        display: block;
        bottom: 1rem;
        right: 1rem;
        z-index: 1;
        height: 2.5rem;
        width: 2.5rem;
        background-color: transparent;
        padding: 0;
        outline: 0;
        border: 1px solid #FFF;
        border-radius: 50%;
        color: transparent;
    }

    .paginate_enabled_next:before {
        content: "";
        position: absolute;
        top: 40%;
        right: 15%;
        bottom: 40%;
        left: 15%;
        background-color: #FFF;
        border-radius: 10px
    }

    .paginate_enabled_next:after {
        content: "";
        position: absolute;
        top: 15%;
        right: 40%;
        bottom: 15%;
        left: 40%;
        background-color: #FFF;
        border-radius: 10px
    }
}

@media screen and (min-width: 1036px) {
    body > section {
        width: 1000px;
    }

    .post_comment fieldset:first-of-type {
        margin: 0 180px 0 180px;
    }
}

@media screen and (max-width: 1036px) {
    .post_comment fieldset:first-of-type {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    div.dataTables_wrapper {
        padding: 0 30px 0 30px;
        box-sizing: border-box;
        width: 100%;
    }
}

.hidden {
    display: none;
}

.liste_news, .commentaries_list {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none
}

.news {
    margin: 0 auto 20px auto;
    display: block;
    width: 90%;
    height: 100%;
    border: 1px solid lightgrey;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.commentary {
    width: 70%;
    margin: auto auto 20px auto;
    border: 1px solid lightgrey;
    padding: 15px;
}

.commentary_date {
    margin: 0 0 15px 0;
    display: inline-block;
}

.commentary_number {
    position: absolute;
    color: #ffffff;
    right: 0;
    width: 50%;
    padding-right: 10px;
    text-align: right;
}

.modify_comment textarea {
    height: auto;
    padding: 0 8px 0 8px;
    margin: 0;
    border: 1px solid grey;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.modify_comment fieldset {
    border: 0;
}

.modify_comment fieldset:last-child input {
    float: right;
}

.update_comment {
    display: none;
}

.delete_comment {
    display: none;
}

.commentary:hover .update_comment, .commentary:hover .delete_comment {
    display: inline-block;
    position: relative;
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

.user_info {
    display: inline-block;
    position: relative;
    clear: both;
    margin: 5px 0 5px 0;
}

@media screen and (max-width: 480px) {
    .popup_user {
        display: none;
    }
}

@media screen and (max-width: 635px) {
    .infos {
        width: 240px;
    }
}

.user_info a .popup_user {
    position: absolute;
    margin-top: -180px;
    margin-left: 60px;
    color: black;
    background: white;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transform: scale(0) rotate(-12deg);
    transition: all .25s;
    opacity: 0;
    z-index: 1000;
    width: 300px;
}

.user_info a:hover .popup_user, .user_info a:focus .popup_user {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

.user_avatar {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news_date {
    margin: 5px 0 10px 0;
    display: inline-block;
}

.news_commentary {
    display: block;
    text-align: right;
}

.last_modification {
    display: block;
    font-style: italic;
    text-align: right;
    padding-top: 10px;
}

.account {
    margin: auto;
    border-collapse: collapse;
    border: 0;
}

.account td {
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

* {
    word-wrap: break-word;
}

body {
    color: black;
    font-family: "Lato", sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #f3f3f3 url(../css/background.png) center top repeat;
}

p {
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 1em 0 0.5em 0;
    padding: 0 30px 0 30px;
    color: #343434;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h1.small {
    font-size: 24px;
    line-height: 30px;
}

h1:first-child.small {
    padding: 28px 0 15px 0;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
    font-style: italic;
    margin: 10px auto 10px auto;
}

hr {
    height: 1px;
    border: 0 solid grey;
    color: grey;
    background-color: grey;
}

td, tr, th {
    border: 1px solid black;
}

textarea {
    resize: none;
}

body > section {
    border: 1px solid lightgrey;
    box-shadow: 0 0 10px 1px lightgrey;
    margin: auto;
    background: white;
    padding-bottom: 30px;
    overflow: auto;
}

article {
    margin-bottom: 15px;
    overflow: auto;
}

h1:first-child {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 0 10px 1px lightgrey;
    padding: 15px 0 15px 0;
}

a {
    color: #427fed;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
    border: 1px solid #D8D8D8;
}

::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.breadcrumb {
    list-style-type: none;
    padding-left: 30px;
}

.breadcrumb li {
    display: inline;
}

p.title {
    margin: 0 0 10px 0;
    font-size: 130%;
    background-color: #427fed;
    width: auto;
    padding: 2px 10px 2px 10px;
}

.table_seasons {
    margin: auto;
    border-collapse: collapse;
    border: 0;
    text-align: center;
    display: inline-table;
    width: 100%
}

.table_seasons td {
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

.table_seasons tr {
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

.post_comment {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: table;
    text-align: center;
    border: 1px solid grey;
    box-shadow: 0 0 10px 1px grey;
    background: white;
    text-decoration: none;
    padding: 0;
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    will-change: transform;
}

.post_comment fieldset {
    border: 0;
    margin: 0;
}

.post_comment fieldset:last-child {
    margin: 15px 15px 15px 0;
}

.post_comment fieldset textarea {
    width: 100%;
}

.post_comment input[type="submit"] {
    height: 37px;
    padding: 0 8px 0 8px;
    margin: 1px;
    border: 1px solid #3079ed;
    background: #4d90fe linear-gradient(#4d90fe, #4787ed);
    border-radius: 3px;
    color: white;
    width: auto;
}

.button {
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #357ae8 linear-gradient(to bottom, #4d90fe, #357ae8);
    border: 1px solid #3079ed;
    border-radius: 4px;
    margin: 0.5em 30px 1em 30px;
    overflow: auto;
    border-collapse: collapse;
}

.left {
    float:left;
}

.right {
    float:right;
}
.center {
    text-align: center;
    margin: auto;
    display: table;
    line-height: 2.5;
    height: 37px;
}

.large {
    width: 100%;
}

.fixheader {
    margin-top: 50px;
}
.post_comment input[type="submit"]:hover {
    height: 37px;
    background: #357ae8 linear-gradient(to bottom, #4d90fe, #357ae8);
}

.post_comment div:last-child {
    position: absolute;
    right: -180px;
    bottom: -1px;
    float: right;
    height: 30px;
    width: auto;
    display: table;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: grey;
    box-shadow: 0px 0px 10px 1px grey;
    background: white;
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.post_comment:hover {
    transform: translateX(0%);
}

.category {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 3px;
}

.authors_list {
    margin-bottom: 3px;
}

.authors_list div {
    display: inline-block;
}

.authors, .king {
    display: inline-block;
    margin: 0 5px 3px 5px;
}

.king_list {
    margin-bottom: 3px;
}

.king_list div:first-of-type {
    display: inline-block;
}

.dataTables_empty {
    text-align: center;
}

.dataTables_wrapper thead tr th:hover {
    color: #3079ed;
}

.dataTables_wrapper {
    text-align: center;
    display: inline-block;
}

.dataTables_length {
    float: right;
    display: inline;
    padding-bottom: 5px;
}

.dataTables_length select {
    text-align: left;
}

.dataTables_filter {
    float: left;
    display: inline;
    padding-bottom: 5px;
}

.dataTables_info, .dataTables_paginate, .paging_two_button {
    display: inline;
}

.paginate_disabled_previous, .paginate_disabled_next {
    display: none;
}

.paginate_enabled_previous {
    float: left;
    display: inline;
    padding-top: 5px;
}

.paginate_enabled_next {
    float: right;
    display: inline;
    padding-top: 5px;
}

.display {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    border: 1px;
    text-align: center;
}

.form {
    padding-top: 10px;
    text-align: center;
    display: table;
    margin: auto;
    border: 1px solid lightgrey;
    box-shadow: inset 0 0 10px 1px lightgrey;
}

.form img {
    text-align: center;
    display: block;
    margin: auto;
}

.form_fix {
    padding-top: 0;
    margin: 10px auto;
}

.sub_list > div {
    text-align: left;
    padding: 0 30px 0 30px;
}

.subMenu li {
    text-align: left;
    padding-left: 29px;
}

.navigation {
    display: inline-block;
    vertical-align: text-bottom;
}

.subMenu {
    list-style-type: none;
    background: white;
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 300px;
    border: 1px solid lightgrey;
}

@media screen and (min-width: 768px) {
    .special_form {
        margin: auto 30px 30px 30px;
        border: 1px solid lightgrey;
        position: relative;
        float: right;
        width: 250px;
        min-height: 50px;
    }
}

.special_form > div {
    margin: 0;
    display: block;
    text-align: center;
    background: #4d90fe linear-gradient(#4d90fe, #4787ed);
}

.special_form input[type="submit"] {
    margin: auto;
    display: inline-block;
    width: 100%;
    bottom: 0;
    height: 25px;
    padding: 0 8px 0 8px;
    border: 1px solid #3079ed;
    background: #4d90fe linear-gradient(#4d90fe, #4787ed);
    color: white;
}

.remind_data {
    text-align: justify;
    overflow: hidden;
    min-height: 50px;
    margin: 0 30px;
}

.remind_data img {
    float: left;
    margin-right: 10px;
}

.remind_data p:first-of-type {
    margin-top: 0
}

@media screen and (max-width: 768px) {
    .special_form {
        position: fixed;
        z-index: 1000;
        right: 0;
        text-decoration: none;
        padding: 0;
        transform: translateX(100%);
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
        will-change: transform;
    }

    .special_form:hover {
        transform: translateX(0%);
    }
}

.beter_form {
    max-width: 350px;
}

.form fieldset {
    display: block;
    text-align: left;
    border: 0;
    padding: 10px;
    margin: 10px;
}

.form fieldset div {
    text-align: center;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea,
.form fieldset > select {
    height: 37px;
    padding: 0 8px 0 8px;
    margin: 1px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.form textarea {
    height: 150px;
    padding: 8px;
}

.form input[type="text"]:hover,
.form input[type="password"]:hover,
.form input[type="email"]:hover,
.form textarea:hover,
.form select:hover {
    border-color: #3079ed;
}

.form button[type="submit"],
.form input[type="submit"],
.form input[type="button"],
.form input[type="reset"] {
    height: 37px;
    padding: 0 8px 0 8px;
    margin: 1px;
    border: 1px solid #3079ed;
    background: #4d90fe linear-gradient(#4d90fe, #4787ed);
    border-radius: 3px;
    color: white;
    width: 100%;
}

.form button[type="submit"]:hover,
.form input[type="submit"]:hover,
.form input[type="button"]:hover,
.form input[type="reset"]:hover,
.button:active {
    background: #357ae8 linear-gradient(to bottom, #4d90fe, #357ae8);
}

.form_button input {
    background: none;
    color: #427fed;
    border: 0;
}

.form_button input:hover,
.form_button input:active {
    text-decoration: underline;
    height: 15px;
    cursor: pointer;
}

.g-recaptcha div div {
    margin: auto;
}

.return_list {
    position: fixed;
    z-index: 200;
    margin: 40px auto;
    left: 0;
    right: 0;
}

.ok {
    text-align: center;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
}

.erreur {
    text-align: center;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}

.information {
    text-align: center;
    border: 1px solid rgba(204, 85, 0, 255);
    background-color: #f0ad4e;
    display: block;
    padding: 5px;
    margin: 10px auto 10px auto;
    display: table;
}

.close:hover {
    text-decoration: none
}

.close {
    border: 1px solid;
    display: block;
    padding: 5px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

#information {
    display: table;
    margin: 10px auto 10px auto;
}

.flash-notice {
    position: fixed;
    top: 0;
    z-index: 5000;
    margin: 0% auto;
    width: 100%;
    left: 0;
}

.spinner {
    display: none;
    margin: auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    color: #427fed;
}

.spinner > div {
    background-color: #427fed;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

#navtop {
    position: fixed;
    right: 0;
    bottom: -1px;
    height: 30px;
    width: 30px;
    display: table;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    border: 1px solid grey;
    background: white;
    text-decoration: none;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#navtop::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 0.5em;
}

.navleft {
    position: fixed;
    left: -31px;
    top: 0;
    height: 30px;
    width: 30px;
    display: table;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: grey;
    background: white;
    text-decoration: none;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navleft::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 0.5em;
}

.vignette {
    width: 300px;
    height: 150px;
    border: 1px solid lightgrey;
}