{# {{ dump(data_form) }} #}
{{ form_start(form, { 'attr': {'class': 'form validate'} }) }}
    {{ form_errors(form._token) }}
<fieldset>
    <legend>{{ form_label(form.title) }}</legend>
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
</fieldset>
<fieldset>
    <legend>{{ form_label(form.alternativ_title) }}</legend>
    {{ form_widget(form.alternativ_title) }}
    {{ form_errors(form.alternativ_title) }}
</fieldset>
<fieldset>
    <legend>{{ form_label(form.authors) }}</legend>
    {{ form_widget(form.authors) }}
    {{ form_errors(form.authors) }}
</fieldset>
<fieldset>
    <legend>{{ form_label(form.description) }}</legend>
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</fieldset>
<fieldset>
    <legend>{{ form_label(form.category) }}</legend>
    {{ form_widget(form.category) }}
    {{ form_errors(form.category) }}
</fieldset>
<fieldset>
    <legend>{{ form_label(form.kind) }}</legend>
    {{ form_widget(form.kind, { 'attr': {'class': 'chosen-select'} }) }}
    {{ form_errors(form.kind) }}
</fieldset>
<fieldset>
    <legend>{{ form_label(form.license_name) }}</legend>
    {{ form_widget(form.license_name) }}
    {{ form_errors(form.license_name) }}
</fieldset>
<fieldset>
    <legend>
        <a id="add_season" data-path="{{path('dejavu_admin_add_season')}}">
            <div class="more_data"></div>
            <p class="text_more_data">{{ 'label.season_add'|trans }}</p>
        </a>
        <label class="remove_season"></label>
    </legend>
    <table class="table_seasons" id="seasons-fields-list">
        <tr>
            <td>{{ 'label.seasons'|trans }}</td>
            <td id="data_season"    data-prototype="{{ form_widget(form.episode_per_season.vars.prototype)  |e }}">{{ 'label.episodes'|trans }}</td>
            <td id="data_year"      data-prototype="{{ form_widget(form.year_per_season.vars.prototype)     |e }}">{{ 'label.date'|trans }}</td>
            <td id="data_finished"  data-prototype="{{ form_widget(form.finished_per_season.vars.prototype) |e }}">{{ 'label.finish'|trans }}</td>
            <td class="delete_saison">{{ 'label.delete'|trans }}</td>
        </tr>
        {% for i in form.episode_per_season %}
            {% set index        = loop.index                                        %}
            {% set episode      = form.episode_per_season[loop.index0]              %}
            {% set year         = form.year_per_season[loop.index0]                 %}
            {% set finish       = form.finished_per_season[loop.index0]             %}
            {{ include("DejaVuBundle:Default:admin/_season.html.twig") }}
        {% endfor %}
            </table>
    <div class="spinner loadmore_data">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</fieldset>
<fieldset>
    {{ form_widget(form.save) }}
    <a class="button center large" href="{{ path('deja_vu_admin_content') }}">{{ 'label.return'|trans }}</a>
</fieldset>
{{ form_end(form) }}

{#<form class="form validate" method="post">
    <fieldset class="upload_image">
        <legend><label for="upload">{{ 'label.image'|trans }}</label></legend>
        <div id="image_croped" >
            {% if serie.url_img is defined %}
                {% set class = "class=hidden"%}
            <img class="vignette" src="{{ serie.url_img }}">
            {% endif %}
        </div>
        <div>
            <input type="file" id="upload" value="Choose a file" accept="image/jpeg,image/jpg,image/png" />
            <button class="upload-result">{{ 'label.sav'|trans }}</button>
            <button class="hide-show-upload">{{ 'label.show_hide'|trans }}</button>
        </div>
        <div id="image-croped" {{ class|default('') }}></div>
    </fieldset>
    <fieldset>
        <legend><label for="title">{{ 'label.title'|trans }}</label></legend>
        <input type="text" id="title" name="title" class="" value="{{ serie.title|default('') }}" autofocus />
    </fieldset>
    <fieldset>
        <legend><label for="alternativ_title">{{ 'label.alternativ_title'|trans }}</label></legend>
        <input type="text" name="alternativ_title" id="alternativ_title" class="" value="{{ serie.alternativ_title|default('') }}"/>
    </fieldset>
    <fieldset>
        <legend><label for="authors">{{ 'label.authors'|trans }}</label></legend>
        <input type="text" name="authors" id="authors" class="" value="{{ serie.authors|default('') }}"/>
    </fieldset>
    <fieldset>
        <legend><label for="description">{{ 'label.description'|trans }}</label></legend>
        <textarea name="description" id="description" rows="12" class="" >{{ serie.description|default('') }}</textarea>
    </fieldset>
    <fieldset>
        <legend><label for="type_media">{{ 'label.category'|trans }}</label></legend>
        <select name="type_media" id="type_media" size="1">
            {% for category in categories %}
            {% set selected = (serie.name is defined and serie.name == category.name?'selected':'') %}
            <option value="{{ category.id }}" {{ selected }}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <legend><label for="kind">{{ 'label.kind'|trans }}</label></legend>
        <select id="kind" class="chosen-select" multiple>
            {% for kind in kinds %}
            <option {{ kind.selected|default('') }} value="{{ kind.name|convertUrl }}">{{ kind.name }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <legend><label for="license_name">{{ 'label.licensed'|trans }}</legend>
        <input type="text" name="license_name" id="license_name" class="" value="{{ serie.is_licensed|default('') }}"/>
    </fieldset>
    <fieldset>
        <legend>
            <a id="add_season" data-path="{{path('oc_add_season')}}">
                <div class="more_data"></div>
                <p class="text_more_data">{{ 'label.season_add'|trans }}</p>
            </a>
            <label class="remove_season"></label>
        </legend>
        <table class="table_seasons" id="affichage_saison">
            <tr>
                <td>{{ 'label.seasons'|trans }}</td>
                <td>{{ 'label.episodes'|trans }}</td>
                <td>{{ 'label.date'|trans }}</td>
                <td>{{ 'label.finish'|trans }}</td>
                <td class="delete_saison">{{ 'label.delete'|trans }}</td>
            </tr>
            {% if seasons is defined %}
            {% for season in seasons %}
                {% set index        = loop.index %}
                {% set episode      = (season.episodes  is defined ? season.episodes  : '') %}
                {% set year         = (season.year        is defined ? season.year        : '') %}
                {% set is_finish    = (season.is_finish   is defined ? "checked"          : '') %}
                {{ include("DejaVuBundle:Default:admin/_season.html.twig") }}
            {% endfor %}
            {% else %}
                {{ include("DejaVuBundle:Default:admin/_season.html.twig") }}
            {% endif %}
        </table>
        <div class="spinner loadmore_data">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </fieldset>
    <fieldset>
        {% if serie.series_id is defined %}
        <input type="submit" name="update_id" value="{{ 'label.validate'|trans }}"/>
        {% else %}
        <input type="submit" name="add_id" value="{{ 'label.validate'|trans }}"/>
        {% endif %}
        <a class="button center large" href="{{ path('deja_vu_admin_content') }}">{{ 'label.return'|trans }}</a>
    </fieldset>
</form>#}

<script src="{{ asset('js/choosen/chosen.jquery.js') }}"></script>

<script type="text/javascript">
    var seasonsCount = '{{ form.episode_per_season|length }}';
    jQuery(document).ready(function() {
        var xhr = 0;
        jQuery('#add_season').click(function(e) {
            e.preventDefault();
            if(xhr == 0) {

                var newWidgetSeason     = $("#data_season").attr('data-prototype');
                newWidgetSeason         = newWidgetSeason.replace(/__name__/g, seasonsCount);
                var newWidgetYear       = $("#data_year").attr('data-prototype');
                newWidgetYear           = newWidgetYear.replace(/__name__/g, seasonsCount);
                var newWidgetFinished   = $("#data_finished").attr('data-prototype');
                newWidgetFinished       = newWidgetFinished.replace(/__name__/g, seasonsCount);

                seasonsCount++;

                var path = $(this).attr("data-path");
                xhr = $.post(path, {
                            index : seasonsCount,
                            episode : newWidgetSeason,
                            year : newWidgetYear,
                            finish : newWidgetFinished
                        }, // todo
                        function(data) {
                            $(".table_seasons tbody tr").last().after(data);
                        });

                $(".loadmore_data").css("display","block");

                xhr.fail(function() {
                    alert('Erreur lors de la récupération du fichier');
                });

                xhr.always(function() {
                    xhr = 0;
                    $(".loadmore_data").css("display","none");
                });
            }
        });
        jQuery('.remove_season').click(function(e) {
            if($(".table_seasons tbody tr").length - 2)
                $(".table_seasons tbody tr").last().remove();
        });
        if (seasonsCount == '0')
            $( '#add_season' ).trigger( "click" );
    })
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"100%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

<link rel="stylesheet" href="{{ asset('ui/choosen/chosen.min.css') }}" />
<link rel="stylesheet" href="{{ asset('ui/image-crop/croppie.css') }}" />
