{{ form_start(form, { 'attr': {'class': 'form validate'} }) }}
        {{ form_errors(form._token) }}
<fieldset>
    <legend>{{ form_label(form.name) }}</legend>
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</fieldset>
<fieldset>
    {{ form_widget(form.save) }}
    <a class="button center large" href="{{ path('deja_vu_admin_kind') }}">{{ 'label.return'|trans }}</a>
</fieldset>
{{ form_end(form) }}
