{{ form_start(form, { 'attr': {'class': 'form validate'} }) }}
    {{ form_errors(form._token) }}
    <fieldset>
        <legend>{{ form_label(form.title) }}</legend>
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </fieldset>
    <fieldset>
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </fieldset>
    <fieldset>
        {{ form_widget(form.save) }}
        <a class="button center large" href="{{ path('deja_vu_admin_news') }}">{{ 'label.return'|trans }}</a>
    </fieldset>
{{ form_end(form) }}

<script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript"> tinymce.init({
        selector: "textarea",
        height: 300,
        plugins: [
            "advlist autolink autosave link image imagetools lists charmap print preview hr pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
        ],

        toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | steselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink image media code | insertdatetime | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking pagebreak restoredraft preview",

        menubar: false,
        toolbar_items_size: 'small',

        theme: "modern",
        language: "fr_FR",
        image_advtab: true,
        convert_urls: false,
        autoresize_max_height: 500
    });
</script>
