<tr>
    <td>{{ index|default('1') }}</td>
    <td>
        {% if is_ajax_call is defined %}
            {{ episode|rawdescr }}
        {% else %}
            {{ form_widget(episode) }}
        {% endif %}
    </td>
    <td>
        {% if is_ajax_call is defined %}
            {{ year|rawdescr }}
        {% else %}
            {{ form_widget(year) }}
        {% endif %}
    </td>
    <td>
        {% if is_ajax_call is defined %}
            {{ finish|rawdescr }}
        {% else %}
            {{ form_widget(finish) }}
        {% endif %}
    </td>
    <td class="delete_saison">
        {% if index > 1 %}
        <a class='remove_season'>{{ 'label.delete'|trans }}</a>
        {% else %}---{% endif %}
    </td>
</tr>
