<h3><a href='{{ path('deja_vu_user', {'name':user.pseudo}) }}'>{{ user.pseudo }}</a></h3>
{{ form_start(form, { 'attr': {'class': 'form validate'} }) }}
        {{ form_errors(form._token) }}
<fieldset>
    <legend>{{ form_label(form.message) }}</legend>
    {{ form_widget(form.message) }}
    {{ form_errors(form.message) }}
</fieldset>
<fieldset>
    {{ form_widget(form.save) }}
    <a class="button center large" href="{{ path('deja_vu_admin_management_members') }}">{{ 'label.return'|trans }}</a>
</fieldset>
{{ form_end(form) }}
