{# src/DejaVuBundle/Resources/views/Advert/admin/catalog.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.content_list'|trans }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datatable/jquery.dataTables.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <div>
            <a class="button right" href="{{ path('deja_vu_admin_content_add') }}">{{ 'label.content_add'|trans }}</a>
            <h3 class="left">{{ 'label.content_list'|trans }}</h3>
        </div>
        <table class="display">
            <thead>
            <tr>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.seasons'|trans }}</th>
                <th>{{ 'label.episodes'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for serie in series %}
            <tr>
                <td>{{ serie.title }}</td>
                <td>{{ serie.nb_saisons }}</td>
                <td>{{ serie.nb_episodes }}</td>
                <td>{{ serie.name }}</td>
                <td>
                    <a href="{{ path('deja_vu_admin_content_edit', {'id':serie.series_id}) }}">{{ 'label.modify'|trans }}</a>
                    <a href="{{ path('deja_vu_admin_content_edit', {'id':serie.series_id}) }}">{{ 'label.delete'|trans }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.seasons'|trans }}</th>
                <th>{{ 'label.episodes'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $('.display').dataTable( {
                "iDisplayLength": 10,
                "aaSorting": [[ 0, "asc" ]],
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ 'label.all'|trans }}"]]
            });
        </script>
    </section>
{% endblock %}
