{# src/DejaVuBundle/Resources/views/Advert/admin/category_delete.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.category_delete'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <h3>{{ 'label.category_delete'|trans }}</h3>
        {{ form_start(form, { 'attr': {'class': 'form validate'} }) }}
        {{ form_errors(form._token) }}
        <fieldset>
            <legend><a href="{{ path('deja_vu_admin_category_edit', {'id':id}) }}">{{ title }}</a></legend>
        </fieldset>
        <fieldset>
            {{ form_widget(form.save) }}
            <a class="button center large" href="{{ path('deja_vu_admin_category') }}">{{ 'label.return'|trans }}</a>
        </fieldset>
        {{ form_end(form) }}
    </section>
{% endblock %}
