{# src/DejaVuBundle/Resources/views/Advert/admin/members.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.ip_list'|trans }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datatable/jquery.dataTables.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        <h1>{{ 'label.members'|trans }}</h1>
        <div>
            <a class="button right" href="{{ path('deja_vu_admin_management_bann_ip') }}">{{ 'label.ip_add'|trans }}</a>
            <h3 class="left">{{ 'label.ip_list'|trans }}</h3>
        </div>

        <table class="display">
            <thead>
            <tr>
                <th>{{ 'label.ip'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for ip in ips %}
                <tr>
                    <td>{{ ip.ip }}</td>
                    <td>
                    {% if ip.banned %}
                        <a href="{{ path('deja_vu_admin_management_unbann_ip', {'ip':ip.ip}) }}">{{ 'label.unbann_ip'|trans }}</a>
                    {% else %}
                        <a href="{{ path('deja_vu_admin_management_bann_ip', {'ip':ip.ip}) }}">{{ 'label.bann_ip'|trans }}</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'label.ip'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $('.display').dataTable( {
                "iDisplayLength": 10,
                "aaSorting": [[ 0, "asc" ]],
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ 'label.all'|trans }}"]]
            });
        </script>
    </section>
{% endblock %}
