{# src/DejaVuBundle/Resources/views/Advert/admin/kind.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.kind_list'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datatable/jquery.dataTables.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('ui/font-awesome/style.css') }}" />
{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <div>
            <a class="button right" href="{{ path('deja_vu_admin_kind_add') }}">{{ 'label.kind_add'|trans }}</a>
            <h3 class="left">{{ 'label.kind_list'|trans }}</h3>
        </div>
        <table class="display">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for kind in kinds %}
                <tr>
                    <td>{{ kind.id }}</td>
                    <td>{{ kind.name }}</td>
                    <td>
                        <a href="{{ path('deja_vu_admin_kind_edit', {'id':kind.id}) }}"><i class="fa fa-edit"></i></a>
                        <a href="{{ path('deja_vu_admin_kind_delete', {'id':kind.id}) }}"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $('.display').dataTable( {
                "iDisplayLength": 10,
                "aaSorting": [[ 0, "asc" ]],
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ 'label.all'|trans }}"]]
            });
        </script>
    </section>
{% endblock %}
