{# src/DejaVuBundle/Resources/views/Advert/admin/licensee_add.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.licensee_add'|trans }}{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <h3>{{ 'label.licensee_add'|trans }}</h3>
        {{ include("DejaVuBundle:Default:admin/_licensee.html.twig") }}
    </section>
{% endblock %}
