{# src/DejaVuBundle/Resources/views/Advert/admin/logs.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.log_list'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datatable/jquery.dataTables.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <div>
            <a class="button right" href="{{ path('deja_vu_admin_logs') }}">{{ 'label.refresh'|trans }}</a>
            <h3 class="left">{{ 'label.log_list'|trans }}</h3>
        </div>
        <table class="display">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.date'|trans }}</th>
                <th>{{ 'label.description'|trans }}</th>
                <th>{{ 'label.ip'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td><a href="{{ path('deja_vu_user', {'name':log.user.pseudo}) }}">{{ log.user.pseudo }}</a></td>
                <td>{{ log.date | date('j F Y - H:i') }}</td>
                <td>{{ log.summary|rawdescr }}</td>
                <td>{{ log.ip }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.date'|trans }}</th>
                <th>{{ 'label.description'|trans }}</th>
                <th>{{ 'label.ip'|trans }}</th>
            </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $('.display').dataTable( {
                "iDisplayLength": 10,
                "aaSorting": [[ 0, "desc" ]],
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ 'label.all'|trans }}"]]
            });
        </script>
    </section>
{% endblock %}
