{# src/DejaVuBundle/Resources/views/Advert/admin/members.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.members_list'|trans }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datatable/jquery.dataTables.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('ui/font-awesome/style.css') }}" />
{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <div>
            <a class="button right" href="{{ path('deja_vu_admin_management_bann_ip') }}">{{ 'label.bann_ip'|trans }}</a>
            <h3 class="left">{{ 'label.members_list'|trans }}</h3>
        </div>
        <table class="display">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.pseudo'|trans }}</th>
                <th>{{ 'label.register'|trans }}</th>
                <th>{{ 'label.email'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.ip'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('deja_vu_user', {'name':user.pseudo}) }}" target="_blank">{{ user.pseudo }}</a></td>
                <td>{{ user.registrationDate | date('j F Y h:i') }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.title.name }}</td>
                <td>{{ user.ip.ip }}</td>
                <td>
                {% if app.session.get('user').title.id < user.title.id %}
                    {% if app.session.get('user').title.id == 1 %}
                    <a href="{{ path('deja_vu_admin_management_members_title_edit', {'id':user.id}) }}"><i class="fa fa-edit"></i></a>
                    {% endif %}
                    {% if user.banned %}
                    <a href="{{ path('deja_vu_admin_management_members_unbann_id', {'id':user.id}) }}">{{ 'label.unbann_id'|trans }}</a>
                    {% else %}
                    <a href="{{ path('deja_vu_admin_management_members_bann_id', {'id':user.id}) }}">{{ 'label.bann_id'|trans }}</a>
                    {% endif %}
                    {% if user.ip.banned %}
                    <a href="{{ path('deja_vu_admin_management_unbann_ip', {'ip':user.ip.ip}) }}">{{ 'label.unbann_ip'|trans }}</a>
                    {% else %}
                    <a href="{{ path('deja_vu_admin_management_bann_ip', {'ip':user.ip.ip}) }}">{{ 'label.bann_ip'|trans }}</a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.pseudo'|trans }}</th>
                <th>{{ 'label.register'|trans }}</th>
                <th>{{ 'label.email'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.ip'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $('.display').dataTable( {
                "iDisplayLength": 10,
                "aaSorting": [[ 0, "desc" ]],
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ 'label.all'|trans }}"]]
            });
        </script>
    </section>
{% endblock %}
