{# src/DejaVuBundle/Resources/views/Advert/admin/news.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.news_list'|trans }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datatable/jquery.dataTables.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('ui/font-awesome/style.css') }}" />
{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <div>
            <a class="button right" href="{{ path('deja_vu_admin_news_add') }}">{{ 'label.news_add'|trans }}</a>
            <h3 class="left">{{ 'label.news_list'|trans }}</h3>
        </div>

        <table class="display">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.date'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for news in news_list %}
            <tr>
                <td>{{ news.id }}</td>
                <td><a href="{{ path('deja_vu_viewnews', {'id':news.id, 'name':news.title|convertUrl}) }}" target="_blank">{{ news.title }}</a></td>
                <td><a href="{{ path('deja_vu_user', {'name':news.user.pseudo}) }}" target="_blank">{{ news.user.pseudo }}</a></td>
                <td>{{ news.postDate | date('j F Y h:i') }}</td>
                <td>
                    <a href="{{ path('deja_vu_admin_news_edit', {'id':news.id}) }}"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('deja_vu_admin_news_delete', {'id':news.id}) }}"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.date'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $(".display").dataTable( {
                "iDisplayLength": 10,
                "aaSorting": [[ 0, "desc" ]],
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ 'label.all'|trans }}"]]
            });
        </script>
    </section>
{% endblock %}
