{# src/DejaVuBundle/Resources/views/Advert/admin/title_edit.html.twig #}

{% extends "::layout.html.twig" %}

{% block meta %}
    <meta name="robots" content="noarchive,nofollow,noindex" lang="fr">
    <meta name="googlebot" content="noarchive,nofollow,noindex" lang="fr">
{% endblock %}

{% block title %}{{ 'label.edit_title'|trans }}{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <section>
        <div class="fixheader"></div>
        <h3><a href='{{ path('deja_vu_user', {'name':user.pseudo}) }}'>{{ user.pseudo }}</a></h3>

        {{ form_start(form, { 'attr': {'class': 'form validate'} }) }}
        {{ form_errors(form._token) }}
        <fieldset>
            <legend>{{ form_label(form.title) }}</legend>
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </fieldset>
        <fieldset>
            {{ form_widget(form.save) }}
            <a class="button center large" href="{{ path('deja_vu_admin_management_members') }}">{{ 'label.return'|trans }}</a>
        </fieldset>
        {{ form_end(form) }}
    </section>
{% endblock %}
